<a href="https://colab.research.google.com/github/pranavsrinivas29/Pyspark/blob/main/Pyspark4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Filters

In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 2.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425345 sha256=8c69ede37da13050cdf12ff1a9972568b90accd169e99c9542a5a651b4ef075b
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [3]:
from google.colab import drive
drive.mount('/content/drive')
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('DataFrame').getOrCreate()
df_pyspark = spark.read.option('header','true').csv('/content/drive/MyDrive/Book1.csv',sep=';',inferSchema=True)
df_pyspark.show()

Mounted at /content/drive
+------+---+------+----------+
|  Name|Age|Salary|Experience|
+------+---+------+----------+
|  John| 23| 34000|         8|
| Smith| 21| 56000|         5|
| Steve| 43| 45000|         2|
|  Mark| 25| 23990|        10|
| Starc| 35| 45000|         6|
|  Jade| 34| 23000|         2|
|Austin| 34| 12000|         5|
+------+---+------+----------+

In [5]:
df_pyspark.filter('Salary<=30000').show()

+------+---+------+----------+
|  Name|Age|Salary|Experience|
+------+---+------+----------+
|  Mark| 25| 23990|        10|
|  Jade| 34| 23000|         2|
|Austin| 34| 12000|         5|
+------+---+------+----------+

In [7]:
df_pyspark.filter('Salary<=30000').select(['Name','Experience']).show()

+------+----------+
|  Name|Experience|
+------+----------+
|  Mark|        10|
|  Jade|         2|
|Austin|         5|
+------+----------+

## Multiple condition

##using AND(&)

In [12]:
df_pyspark.filter((df_pyspark['Salary']<=30000)
                  & (df_pyspark['Age']>=30)).show()

+------+---+------+----------+
|  Name|Age|Salary|Experience|
+------+---+------+----------+
|  Jade| 34| 23000|         2|
|Austin| 34| 12000|         5|
+------+---+------+----------+

##using OR(|)

In [14]:
df_pyspark.filter((df_pyspark['Salary']<=30000)
                  | (df_pyspark['Experience']<8)).show()

+------+---+------+----------+
|  Name|Age|Salary|Experience|
+------+---+------+----------+
| Smith| 21| 56000|         5|
| Steve| 43| 45000|         2|
|  Mark| 25| 23990|        10|
| Starc| 35| 45000|         6|
|  Jade| 34| 23000|         2|
|Austin| 34| 12000|         5|
+------+---+------+----------+

## ~ is for inverse

In [17]:
df_pyspark.filter(~((df_pyspark['Salary']<=30000)
                  & (df_pyspark['Age']>=30))).show()

+-----+---+------+----------+
| Name|Age|Salary|Experience|
+-----+---+------+----------+
| John| 23| 34000|         8|
|Smith| 21| 56000|         5|
|Steve| 43| 45000|         2|
| Mark| 25| 23990|        10|
|Starc| 35| 45000|         6|
+-----+---+------+----------+