<a href="https://colab.research.google.com/github/pranavsrinivas29/Pyspark/blob/main/PySpark2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Pre-Processing of Pyspark DF

In [3]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 1.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425345 sha256=7177a5134c310c6d7b09667b1fd64ca2c6f3c98d7bb0a87ce882f2ad7f4cb195
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [5]:
import pyspark

from google.colab import drive
drive.mount('/content/drive')


from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('DataFrame').getOrCreate()
df_pyspark = spark.read.csv('/content/drive/MyDrive/Book2.csv',sep=';')
df_pyspark = spark.read.option('header','true').csv('/content/drive/MyDrive/Book2.csv',sep=';')

df_pyspark.show()

Mounted at /content/drive
+-----+---+
| Name|Age|
+-----+---+
|Steve| 23|
| John| 33|
| Mark| 54|
+-----+---+

In [6]:
df_pyspark

DataFrame[Name: string, Age: string]

using inferschema makes df to consider right datatypes for cols

In [7]:
df_pyspark = spark.read.option('header','true').csv('/content/drive/MyDrive/Book2.csv',sep=';',inferSchema=True)
df_pyspark

DataFrame[Name: string, Age: int]

In [10]:
#using header and inferschema simulatenously
df_pyspark = spark.read.csv('/content/drive/MyDrive/Book2.csv',sep=';',header=True,inferSchema=True)
print(df_pyspark)
df_pyspark.show()

DataFrame[Name: string, Age: int]
+-----+---+
| Name|Age|
+-----+---+
|Steve| 23|
| John| 33|
| Mark| 54|
+-----+---+

In [11]:
df_pyspark.columns

['Name', 'Age']

### Selecting cols and indexing

In [12]:
df_pyspark.select('Age')

DataFrame[Age: int]

In [13]:
df_pyspark.select('Age').show()

+---+
|Age|
+---+
| 23|
| 33|
| 54|
+---+

In [14]:
df_pyspark.select(['Age','Name']).show()

+---+-----+
|Age| Name|
+---+-----+
| 23|Steve|
| 33| John|
| 54| Mark|
+---+-----+

In [15]:
df_pyspark['Name']

Column<'Name'>

In [16]:
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int')]

In [20]:
df_pyspark.describe().show()

+-------+-----+------------------+
|summary| Name|               Age|
+-------+-----+------------------+
|  count|    3|                 3|
|   mean| NULL|36.666666666666664|
| stddev| NULL|15.821925715074425|
|    min| John|                23|
|    max|Steve|                54|
+-------+-----+------------------+

### Adding Cols

In [23]:
df_pyspark.withColumn('Age after 5 years',df_pyspark['Age']+5).show()

+-----+---+-----------------+
| Name|Age|Age after 5 years|
+-----+---+-----------------+
|Steve| 23|               28|
| John| 33|               38|
| Mark| 54|               59|
+-----+---+-----------------+

In [24]:
df_pyspark = df_pyspark.drop('Age after 5 years')
df_pyspark.show()

+-----+---+
| Name|Age|
+-----+---+
|Steve| 23|
| John| 33|
| Mark| 54|
+-----+---+

In [25]:
#Rename
df_pyspark.withColumnRenamed('Name','Name changed').show()

+------------+---+
|Name changed|Age|
+------------+---+
|       Steve| 23|
|        John| 33|
|        Mark| 54|
+------------+---+