<a href="https://colab.research.google.com/github/pranavsrinivas29/Pyspark/blob/main/Pyspark5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## GroupBy and Aggregate Functions

In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 2.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425345 sha256=ffa1c0efc1b960ce9a54fd95870c749039b612b1476cbbc9f09157c01b067867
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [2]:
from google.colab import drive
drive.mount('/content/drive')

from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Grouping').getOrCreate()

Mounted at /content/drive

In [4]:
df_pyspark = spark.read.option('header','true').csv('/content/drive/MyDrive/Book3.csv',sep=';',inferSchema=True)
df_pyspark.show()

+-----+------------+------+
|Name |  Department|Salary|
+-----+------------+------+
| John|Data Science|  6000|
| John|         IOT|  5400|
|Smith|    Big Data|  1000|
| John|    Big Data|  3400|
|Smith|Data Science|  1200|
|Steve|Data Science|  2300|
|Steve|         IOT|  3900|
|Steve|    Big Data|  2300|
| Jade|Data Science|  1500|
| Jade|    Big Data|  3400|
+-----+------------+------+

In [6]:
df_pyspark.groupBy('Name ').sum()

DataFrame[Name : string, sum(Salary): bigint]

In [9]:
df_pyspark.groupBy('Name ').sum().show()

+-----+-----------+
|Name |sum(Salary)|
+-----+-----------+
|Steve|       8500|
|Smith|       2200|
| John|      14800|
| Jade|       4900|
+-----+-----------+

In [10]:
df_pyspark.groupBy('Department').sum().show()

+------------+-----------+
|  Department|sum(Salary)|
+------------+-----------+
|         IOT|       9300|
|    Big Data|      10100|
|Data Science|      11000|
+------------+-----------+

In [11]:
df_pyspark.groupBy('Department').mean().show()

+------------+-----------+
|  Department|avg(Salary)|
+------------+-----------+
|         IOT|     4650.0|
|    Big Data|     2525.0|
|Data Science|     2750.0|
+------------+-----------+

In [13]:
df_pyspark.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|      30400|
+-----------+

In [14]:
df_pyspark.groupBy('Name ').max().show()

+-----+-----------+
|Name |max(Salary)|
+-----+-----------+
|Steve|       3900|
|Smith|       1200|
| John|       6000|
| Jade|       3400|
+-----+-----------+

In [15]:
df_pyspark.groupBy('Name ').min().show()

+-----+-----------+
|Name |min(Salary)|
+-----+-----------+
|Steve|       2300|
|Smith|       1000|
| John|       3400|
| Jade|       1500|
+-----+-----------+

In [16]:
df_pyspark.groupBy('Name ').avg().show()

+-----+------------------+
|Name |       avg(Salary)|
+-----+------------------+
|Steve|2833.3333333333335|
|Smith|            1100.0|
| John| 4933.333333333333|
| Jade|            2450.0|
+-----+------------------+